extends layout/base

mixin actions(applicationName, serviceName)
    a.btn.btn-sm.btn-outline-primary.mr-1(href=`/applications/${applicationName}/${serviceName}`) View
    a.btn.btn-sm.btn-outline-primary.mx-1(href=`/applications/${applicationName}/${serviceName}/start`) Start
    a.btn.btn-sm.btn-outline-primary.mx-1(href=`/applications/${applicationName}/${serviceName}/stop`) Stop
    a.btn.btn-sm.btn-outline-primary.ml-1(href=`/applications/${applicationName}/${serviceName}/restart`) Restart
    a.btn.btn-sm.btn-outline-primary.ml-1(href=`/applications/${applicationName}/${serviceName}/update`) Update

block content
    table.table.table-hover
        thead
            tr
                th Name
                th Services
                th Actions
        tbody
            each applicationName in applicationNames
                tr
                    td(rowspan=2 + serviceNames[applicationName].length)= applicationName
                tr
                    td
                        i All
                    td
                        +actions(applicationName, serviceName)
                each serviceName in serviceNames[applicationName]
                    tr
                        td= serviceName
                        td
                            +actions(applicationName, serviceName)
